:root {
  --naut-border-radius-sm: 0.35rem;
  --naut-border-radius-md: 0.5rem;
  --naut-border-radius-lg: 0.75rem;
  --naut-border-radius-full: 9999px;
}

.radius-sm {
  border-radius: var(--naut-border-radius-sm);
}

.radius-md {
  border-radius: var(--naut-border-radius-md);
}

.radius-lg {
  border-radius: var(--naut-border-radius-lg);
}

.radius-xl {
  border-radius: var(--naut-border-radius-xl);
}
