.gap-xs {
  gap: var(--naut-spacing-xs);
}

.gap-sm {
  gap: var(--naut-spacing-sm);
}

.gap-md {
  gap: var(--naut-spacing-md);
}

.gap-lg {
  gap: var(--naut-spacing-lg);
}

.gap-xl {
  gap: var(--naut-spacing-xl);
}
