/* Spacing 0 */
.p-0 {
  padding: 0;
}

.px-0 {
  padding-right: 0;
  padding-left: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

/* padding sm */
.p-sm {
  padding: var(--naut-spacing-sm);
}

.px-sm {
  padding-right: var(--naut-spacing-sm);
  padding-left: var(--naut-spacing-sm);
}

.py-sm {
  padding-top: var(--naut-spacing-sm);
  padding-bottom: var(--naut-spacing-sm);
}

.pt-sm {
  padding-top: var(--naut-spacing-sm);
}

.pb-sm {
  padding-bottom: var(--naut-spacing-sm);
}

.pl-sm {
  padding-left: var(--naut-spacing-sm);
}

.pr-sm {
  padding-right: var(--naut-spacing-sm);
}

/* padding md */
.p-md {
  padding: var(--naut-spacing-md);
}

.px-md {
  padding-right: var(--naut-spacing-md);
  padding-left: var(--naut-spacing-md);
}

.py-md {
  padding-top: var(--naut-spacing-md);
  padding-bottom: var(--naut-spacing-md);
}

.pt-md {
  padding-top: var(--naut-spacing-md);
}

.pb-md {
  padding-bottom: var(--naut-spacing-md);
}

.pl-md {
  padding-left: var(--naut-spacing-md);
}

.pr-md {
  padding-right: var(--naut-spacing-md);
}

/* padding lg */
.p-lg {
  padding: var(--naut-spacing-lg);
}

.px-lg {
  padding-right: var(--naut-spacing-lg);
  padding-left: var(--naut-spacing-lg);
}

.py-lg {
  padding-top: var(--naut-spacing-lg);
  padding-bottom: var(--naut-spacing-lg);
}

.pt-lg {
  padding-top: var(--naut-spacing-lg);
}

.pb-lg {
  padding-bottom: var(--naut-spacing-lg);
}

.pl-lg {
  padding-left: var(--naut-spacing-lg);
}

.pr-lg {
  padding-right: var(--naut-spacing-lg);
}

/* padding xl */
.p-xl {
  padding: var(--naut-spacing-xl);
}

.px-xl {
  padding-right: var(--naut-spacing-xl);
  padding-left: var(--naut-spacing-xl);
}

.py-xl {
  padding-top: var(--naut-spacing-xl);
  padding-bottom: var(--naut-spacing-xl);
}

.pt-xl {
  padding-top: var(--naut-spacing-xl);
}

.pb-xl {
  padding-bottom: var(--naut-spacing-xl);
}

.pl-xl {
  padding-left: var(--naut-spacing-xl);
}

.pr-xl {
  padding-right: var(--naut-spacing-xl);
}
